<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asywalul.minang.wisatasumbar" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.minang.gmapsapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!--
         needed for older devices -
        used to check app background / foreground status
    -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- START Added for GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="asywalul.minang.wisatasumbar.gcm.permission.C2D_MESSAGE" />

    <!-- END Added for GCM -->
    <application
        android:name=".ui.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_wisata"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme" >

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAwxSpIUZamaTh9iRXlb5-WAodYwLyJJkQ"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity
            android:name=".ui.activity.SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/SplashStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PostQuestionAcivity"
            android:configChanges="orientation"
            android:label="@string/tanya_wisat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.PostStore"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.MapsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LoginStyle"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.activity.KabubatenKotaListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="Kabupaten Kota"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:configChanges="orientation"
            android:theme="@style/LoginStyle"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.QuestionDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label=""
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.Profile_activity_Other_User2"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.activity.Profile_Activity_Other_User"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.EditProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WisataDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.FullImageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.FullImageActivityArticle"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ArticleDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.StoreDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.activity.ListWisataPerKabupaten"
            android:configChanges="orientation"
            android:label="List Wisata"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.DetailKabupatenTab"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.DetailResepActivity"
            android:configChanges="orientation"
            android:label="@string/text_resep"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ScrollableTabsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityBeranda"
            android:label="@string/app_name"
            android:theme="@style/Main2"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.TabKulinerActivity"
            android:label="Ketegori kuliner"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ListLocationNearby"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.DetailLocationNearby"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.EditQuestionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.Detail_Cerita_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CeritaActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CeritaBokmarkActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ResepListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.WeatherActivity"
            android:configChanges="orientation"
            android:label="@string/weather"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.activity.InterestialLogout"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ListWisata"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginFirstActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />


        <activity
            android:name=".image.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
        <activity
            android:name=".image.CropPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
        <activity
            android:name=".image.AlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>

        <activity android:name=".ui.activity.SearchListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>



        <activity android:name=".ui.activity.SearchWisata"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".image.Hasil"/>
        <activity android:name=".ui.activity.Maps"/>
        <activity android:name=".ui.activity.LocationShown"/>

        <activity android:name=".ui.introtutorial.tutorial.MaterialTutorialActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.introtutorial.TutorialIntro"/>





    </application>

</manifest>